.content {
  text-align: center;
  padding-top: 0;
}

top-header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: black;
  align-items: center;
}

.top-header-title {
  margin-right: auto;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
  color: #fff;
}

ul {
  list-style: none;
  font-size: 2em;
}

ul:hover {
  color: darkgreen;
}
#bg {
  position: relative; /*h1の中央寄せ配置の起点とするためのrelative*/
  height: 100vh; /*高さを全画面にあわせる*/
}
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("./img/hometop.png") no-repeat;
  background-size: cover;
}

#video {
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}

#video-area {
  position: fixed;
  z-index: -1; /*最背面に設定*/
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.topTitle {
  color: #fff;
  font-size: 3em;
  font-family: "Rajdhani", sans-serif;
}

.bg-title {
  position: relative; /*必ず必要*/
  z-index: 2; /*必ず必要*/
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  animation: key 0.3s ease infinite alternate;
}

@keyframes key {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

ul:hover {
  color: darkgreen;
}
.maincontent {
  font-family: "Rajdhani", sans-serif;

  background-color: black;
  position: relative; /*必ず必要*/
  z-index: 2; /*必ず必要*/

  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
  position: relative; /*h1の中央寄せ配置の起点とするためのrelative*/
  width: auto;
  height: auto; /*高さを全画面にあわせる*/
}

.git {
  width: 50px;
}
.tureru {
  width: 200px;
}
.box {
  width: 300px;
  padding-top: 0%;
  vertical-align: top;
}
.kuti {
  width: 150px;
}

.product {
  background-color: black;
  color: white;
}

.sub-title {
  font-size: 3em;
}
.portforio-title {
  font-size: 1.5em;
}

.portforio-title:hover {
  color: darkgreen;
}

.sub-title:hover {
  color: darkgreen;
}

footer {
  background-color: #fff;
  color: black;
  animation: key 0.3s ease infinite alternate;
}

a:hover {
  color: rgb(117, 255, 4);
  transform: scale(2.5);
  transition-duration: 0.3s;
}

.about {
  width: 100%;
  height: 100vh;
}

.bodyContent ul {
  display: flex;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
  margin-top: 0%;
}
.bodyContent li {
  margin: 2px;
  padding: 2px;
  list-style: none;
}

.bodyContent img {
  border: 2px solid black;
  width: 400px;
}

.gallery img:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
}
